################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/store/FileContentIndex/2abd6459-7616-4848-ad48-827b71796e08.vsidx
/.vs/store/FileContentIndex/a19139e5-0178-46ab-8c2d-5b2e54457259.vsidx
/.vs/store/FileContentIndex/ec50c67a-70d8-402e-ad82-66f10296980b.vsidx
