################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/store/FileContentIndex/2abd6459-7616-4848-ad48-827b71796e08.vsidx
/.vs/store/FileContentIndex/a19139e5-0178-46ab-8c2d-5b2e54457259.vsidx
/.vs/store/FileContentIndex/ec50c67a-70d8-402e-ad82-66f10296980b.vsidx
/.vs/store/FileContentIndex/357860bb-169e-405e-af17-8444d2d6a9ea.vsidx
/.vs/store/FileContentIndex/72a46a27-22cf-4a1a-a11a-f7297203b338.vsidx
/.vs/store/FileContentIndex/b4e7ccd2-ed1d-4306-96b1-771d83a13664.vsidx
/.vs/store/FileContentIndex/eb9aad29-e168-41ce-ba34-19e55362bdf1.vsidx
/.vs/store/FileContentIndex/0123253c-f672-4ae1-a2ae-cd2e02d4f037.vsidx
