<!-- Page Title
		============================================= -->
<section class="page-title bg-transparent">
	<div class="container">
		<div class="page-title-row">

			<div class="page-title-content">
				<h1>Submittion Failed</h1>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Admin</a></li>
					<li class="breadcrumb-item active" aria-current="page">501</li>
				</ol>
			</nav>

		</div>
	</div>
</section><!-- .page-title end -->
<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container">

			<div class="row align-items-center col-mb-80">

				<div class="col-lg-6">
					<div class="error404 text-center">501</div>
				</div>

				<div class="col-lg-6">

					<div class="heading-block text-center text-lg-start border-bottom-0">
						<h4>Ooopps.! The submittion failed. </h4>
						<span>Make sure all fields are filled before submitting.</span>
					</div>

					<div class="row col-mb-30">

						<div class="col-6 col-sm-4 widget_links">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-4 widget_links">
							<ul>
								<li><a href="#">Shop</a></li>
								<li><a href="#">Portfolio</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-4 widget_links">
							<ul>
								<li><a href="#">Support</a></li>
								<li><a href="#">Forums</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</section><!-- #content end -->